<mat-card class="card">
  <mat-toolbar>
    {{ topico }}
    <div class="space"></div>
    <button *showForAccess="['Admin', 'Aluno']" mat-mini-fab aria-label="Create" class="btn" (click)="onAdd()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>

  <mat-card-content>
    <div class="card-container">
      @for (order of itensList; track $index) {
        <mat-card class="column width-min">
            <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>{{ order.title }}</mat-card-title>
                  <mat-card-subtitle>{{ order.date | date: 'dd/MM/yyyy' }} | {{order.time_start}} - {{order.time_end}}</mat-card-subtitle>
                  @if (userLogged != null && userLogged == order.userId) {
                    <div class="button-row">
                      <button mat-mini-fab aria-label="Edit" class="btn" (click)="onEdit(order)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-mini-fab aria-label="Delete" class="btn-delete" (click)="onDelete(order)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  }
                </mat-card-title-group>
            </mat-card-header>

            <mat-card-content>
                {{ order.description }}
            </mat-card-content>
            @if (actionButtons) {
              <mat-card-actions>
                <button *showForAccess="['Admin', 'Professor', 'Monitor']" mat-button class="btn" (click)="onAccept(order)">Accept</button>
                <button *showForAccess="['Admin', 'Professor', 'Monitor']" mat-button class="btn-delete margin" (click)="onReject(order)">Reject</button>
              </mat-card-actions>
            }
        </mat-card>
      }
    </div>
  </mat-card-content>
</mat-card>
