@import "../../../styles/variables.scss";

.container {
  height: 90%;
}

.mat-drawer {
  border-right: 1px solid rgba(0, 0, 0, 0.226);
  background-color: $gray-secondary-bg;
}

.sidenav {
  padding-left: 20px;
  width: 250px;
}

.mat-icon {
  margin-right: 10px;
  color: $text-color;
}

.container-item {
  display: flex;
  align-items: center;
  color: $text-color;

  span {
    font-size: 20px;
    font-weight: 500;
  }
}
