<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="isOpen | async" mode="side">
    <mat-nav-list>
      <a mat-list-item class="center-flex" routerLink="/user/home">
        <div class="container-item">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </div>
      </a>
      <a mat-list-item class="center-flex" routerLink="/user/classes">
        <div class="container-item">
          <mat-icon>school</mat-icon>
          <span>Turmas</span>
        </div>
      </a>
      <a mat-list-item class="center-flex" routerLink="">
        <div class="container-item">
          <mat-icon>dashboard</mat-icon>
          <span>Relatórios</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>

