<header>
  <mat-toolbar class="navbar">
    <button mat-icon-button aria-label="Toggle Sidenav" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Student Service</span>
    <span class="space"></span>
    <button mat-button class="icon-button account" aria-label="User Access" (click)="editUser(idUser? idUser : '')">
      <mat-icon>account_circle</mat-icon>
      @if(emailUser == undefined) {
        <span>Não Logado</span>
      }
      @else {
        {{ emailUser }}
      }
    </button>
    <button mat-button disabled class="icon-button account" aria-label="User Access">
      <mat-icon fontIcon="radio_button_checked"></mat-icon>
      @if(statusUser == undefined) {
        <span>Não Logado</span>
      }
      @else {
        {{ statusUser }}
      }
    </button>
    <button mat-icon-button class="icon-button" aria-label="Loggout" (click)="loggout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</header>

