<header>
  <mat-toolbar class="navbar">
    <span>Student Service</span>
    <span class="space"></span>
    <button mat-button class="icon-button account" aria-label="User Access">
      <mat-icon>account_circle</mat-icon>
      @if(emailUser == undefined) {
        <span>Não Logado</span>
      }
      @else {
        {{ emailUser }}
      }
    </button>
    <button mat-icon-button class="icon-button" aria-label="Loggout" (click)="loggout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</header>

