<mat-card class="card">
  <mat-toolbar color="primary">
    Turmas Disponíveis
    <div class="space"></div>
    <button *showForAccess="['Admin', 'Professor']" mat-flat-button color="" (click)="onAdd()">New Class</button>
  </mat-toolbar>

  @if (classList$ | async; as classes) {
    <div class="container">
      @for (classItem of classes.classes; track $index) {
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                @if (isClassInUserClasses(classItem) && getUserLogged() != null) {
                  <a routerLink='/user/class/{{ classItem.id }}'>{{ classItem.name }}</a>
                } @else {
                  {{ classItem.name }}
                }
              </mat-card-title>
              <mat-card-subtitle>{{ classItem.date | date: 'dd/MM/yyyy' }}</mat-card-subtitle>
              @if (getUserLogged() != null && classItem.owner?.id == getUserLogged()) {
                <div class="button-row">
                  <button mat-mini-fab aria-label="Edit" (click)="onEdit(classItem)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-mini-fab aria-label="Delete" (click)="onRemove(classItem)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              }
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <span>Created by {{ classItem.owner?.name }}</span>
            <span class="space"></span>
            <!-- Só deve aparecer se a turma não estiver na lista de turmas do usuário logado-->
            @if (!isClassInUserClasses(classItem)) {
              <button mat-raised-button (click)="onSubscribe(classItem)">Subscribe</button>
            } @else {
              <button mat-raised-button (click)="onUnSubscribe(classItem)">Unsubscribe</button>
            }
          </mat-card-content>
        </mat-card>
      }
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [length]="classes.totalElements"
        (page)="refresh($event)"
        aria-label="Select page of classes"
      ></mat-paginator>
    </div>
  } @else {
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  }
</mat-card>


