<mat-card class="card">
  <mat-toolbar color="primary">
    Turmas Disponíveis
    <div class="space"></div>
    <button mat-flat-button color="" (click)="onAdd()">New Class</button>
  </mat-toolbar>

  @if (classList$ | async; as classes) {
    <div class="container">
      @for (classItem of classes.classes; track $index) {
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title><a routerLink='/user/class/{{ classItem.id }}' >{{ classItem.name }}</a></mat-card-title>
              <mat-card-subtitle>{{ classItem.date }}</mat-card-subtitle>
              <div class="button-row">
                <button mat-raised-button (click)="onEdit(classItem)">Edit</button>
                <button mat-raised-button color="warn" (click)="onRemove(classItem)">Delete</button>
              </div>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <span>Created by {{ classItem.owner?.name }}</span>
            <span class="space"></span>
            <!-- Só deve aparecer se a turma não estiver na lista de turmas do usuário logado-->
            <button mat-raised-button (click)="onSubscribe(classItem)">Subscribe</button>
          </mat-card-content>
        </mat-card>
      }
    </div>
  } @else {
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  }
</mat-card>


