@import "../../../../styles/variables.scss";

.card {
  max-width: 90%;
  margin: 2em auto;
  text-align: center;
  color: $text-color;
}

mat-card {
  margin: 5px;
}

mat-card-content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.space {
  flex: 1 1 auto;
}


