<div>
  <label for="calendarSelect">Selecionar Calendário:</label>
  <select id="calendarSelect" [(ngModel)]="selectedCalendarId" (change)="onCalendarChange(selectedCalendarId)">
    <option *ngFor="let calendar of calendars" [value]="calendar.id">
      {{ calendar.ownerName }}
    </option>
  </select>
</div>

<div *ngIf="calendarOptions">
  <div class="btn-left">
    <button mat-raised-button color="primary">
      Delete Calendar
    </button>
  </div>
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>
