<div>
  <mat-form-field class="full-width">
    <mat-label>Selecionar Calendário: </mat-label>
    <mat-select id="calendarSelect" [(ngModel)]="selectedCalendarId" (selectionChange)="onCalendarChange(selectedCalendarId)">
      @for (calendar of calendars; track $index) {
        <mat-option [value]="calendar.id">
          {{ calendar.ownerName }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

@if (calendarOptions) {
  <div>
    <full-calendar [options]="calendarOptions"></full-calendar>
    <div class="btn-left">
      <button mat-raised-button color="primary" (click)="onRemoveCalendar()">
        Delete Calendar
      </button>
    </div>
  </div>
}
