$primary-color: #23D500;
$secondary-color: #2C6321;
$third-color: #34A91D;
$text-color: #253322;
$gray-bg: #EEEEEE;
$gray-secondary-bg: #F1F3F6;
$gray-third-bg: #c5c5c5;

$white: white;

$green-primary: #2ecc71; // Verde principal
$green-secondary: #27ae60; // Verde secundário
$green-light: #a8e6cf; // Verde claro para fundos suaves
$green-dark: #1e8449; // Verde escuro para contrastes
$gray-light: #ecf0f1; // Fundo claro
$gray-dark: #2c3e50; // Texto principal

