<mat-card class="card">
  <mat-toolbar>
    <span>Redefinir Senha</span>
  </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="resetForm" class="min-width">
      <mat-form-field class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput type="password" placeholder="New Password" formControlName="password" #password />
        @if (resetForm.get("password")?.invalid) {
          <mat-error>{{ formUtils.getErrorMessage(resetForm, "password") }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" #confirmPassword />
        @if (resetForm.get("confirmPassword")?.invalid) {
          <mat-error>{{ formUtils.getErrorMessage(resetForm, "confirmPassword") }}</mat-error>
        }
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="actions-center">
    <button mat-raised-button color="primary" (click)="onSubmit()">
      @if (loading) {
        <div class="loading-spinner">
          <mat-spinner diameter="20"></mat-spinner>
        </div>
      } @else {
        Redefinir Senha
      }
    </button>
    <button mat-raised-button color="secondary" (click)="onCancel()" class="btn-space" >Cancelar</button>
  </mat-card-actions>

</mat-card>
