<mat-card class="card bg-color">
  <mat-toolbar color="primary">
    <span>Welcome to {{ clazz.name }}</span>
  </mat-toolbar>

  <mat-card-content>
    <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
      <mat-tab label="Calendários">
        <app-calendar-list
          [idClass]="clazz.id"
          (addCalendar)="onAddCalendar(clazz.id)"
        >
        </app-calendar-list>
      </mat-tab>

      <mat-tab label="Pedidos Atendimento">
        <app-order-list
          [idClass]="clazz.id"
        >
        </app-order-list>
        <app-customer-service-list
          [idClass]="clazz.id"
        >
        </app-customer-service-list>
      </mat-tab>

      <mat-tab label="Pessoas">
        Pessoas
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>

  <mat-card-footer>
    Created by {{ clazz.owner?.name}} / {{ clazz.owner?.email }}
  </mat-card-footer>
</mat-card>
