@import '../../../../styles/variables.scss';

.card {
  max-width: 95%;
  margin: 2em auto;
  text-align: center;
}
.container {
  margin: 10px 10px 0px 0px;
}

.full-width{
  width: 25%;
}

.bg-color {
  background-color: #FAF9FD;
}

mat-tab-group{
  text-align: left;
}

mat-card-footer {
  margin: 5px;
  padding: 10px;
  justify-content: center;
}
