<mat-card class="card bg-color">
  <mat-toolbar color="primary">
    <span>Bem vindo a {{ clazz.name }}</span>
  </mat-toolbar>

  <mat-card-content>
    <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
      <mat-tab label="Calendários">
        <app-calendar-list
          [idClass]="clazz.id"
          (addCalendar)="onAddCalendar(clazz.id)"
        >
        </app-calendar-list>
      </mat-tab>

      <mat-tab label="Pedidos Atendimento">
        <div class="container">
          <mat-form-field class="full-width">
            <mat-label>Filtro: </mat-label>
            <mat-select
              id="serviceSelected"
              [(value)]="filterValue"
              (selectionChange)="onFilterChange($event.value)">
                <mat-option [value]="0" >Todos os Dados</mat-option>
                <mat-option [value]="1" >Apenas os Dados do Usuário</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <app-order-list
          [idClass]="clazz.id"
        >
        </app-order-list>
        <app-customer-service-list
          [idClass]="clazz.id"
        >
        </app-customer-service-list>
      </mat-tab>

      <mat-tab label="Pessoas">
        <app-class-user-list
          [classId]="clazz.id">
        </app-class-user-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>

  <mat-card-footer>
    Created by {{ clazz.owner?.name}} / {{ clazz.owner?.email }}
  </mat-card-footer>
</mat-card>
