.container {
  margin: 10px 10px 0px 0px;
}

.full-width{
  width: 25%;
}

.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
