<mat-card class="card">
  <mat-toolbar color="primary">
    Cadastrar Calendário
  </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="calendarForm" class="min-width">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome do Proprietário" formControlName="ownerName" readonly="true" />
      </mat-form-field>

      <mat-toolbar>
        <span>Horários de Atendimento</span>
        <button mat-icon-button color="accent" (click)="addNewSchedule()">
          <mat-icon aria-label="Adicionar um novo horário">add</mat-icon>
        </button>
      </mat-toolbar>

      @if (formUtils.isFormArrayRequired(calendarForm, 'schedules')) {
        <mat-error class="form-array-error"
          >Adicione pelo menos um horário.
        </mat-error>
      }
      @for (schedule of getSchedulesFormArray(); track schedule; let i = $index) {
        <table style="width: 100%" formArrayName="schedules">
          <tr [formGroupName]="i">
            <td style="width: 40%">
              <mat-form-field class="full-width">
                <mat-label>Dia da Semana</mat-label>
                <mat-select formControlName="dayOfWeek">
                  @for (day of daysOfWeek; track $index) {
                    <mat-option [value]="day">
                      {{ day }}
                    </mat-option>
                  }
                </mat-select>
                @if (getSchedulesFormArray()[i].get('dayOfWeek')?.invalid) {
                <mat-error>{{
                  formUtils.getFormArrayFieldErrorMessage(
                    calendarForm,
                    "schedules",
                    "dayOfWeek",
                    i
                  )
                }}</mat-error>
                }
              </mat-form-field>
            </td>
            <td style="width: 25%">
              <mat-form-field class="full-width">
                <mat-label>Horário Inicial</mat-label>
                <input matInput type="time" formControlName="startTime" />
                @if (getSchedulesFormArray()[i].get('startTime')?.invalid) {
                <mat-error>{{
                  formUtils.getFormArrayFieldErrorMessage(
                    calendarForm,
                    "schedules",
                    "startTime",
                    i
                  )
                }}</mat-error>
                }
              </mat-form-field>
            </td>
            <td style="width: 25%">
              <mat-form-field class="full-width">
                <mat-label>Horário de Finalização</mat-label>
                <input matInput type="time" formControlName="endTime" />
                @if (getSchedulesFormArray()[i].get('endTime')?.invalid) {
                <mat-error>{{
                  formUtils.getFormArrayFieldErrorMessage(
                    calendarForm,
                    "schedules",
                    "endTime",
                    i
                  )
                }}</mat-error>
                }
              </mat-form-field>
            </td>
            <td>
              <button mat-icon-button color="warn" (click)="removeSchedule(i)">
                <mat-icon aria-label="Remover Horário">delete</mat-icon>
              </button>
            </td>
          </tr>
        </table>
      }
    </form>
  </mat-card-content>

  <mat-card-actions class="actions-center button-row">
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Save
    </button>
    <button mat-raised-button (click)="onCancel()" class="btn-space">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
